/* Lobby page styles */

#leftcontent {
	float: left;
	width: 660px;
	margin: auto;
	padding: 0px;
}

#rightcontent {
	float: left;
	width: 260px;
	margin: auto;
	padding-left: 10px;
}

#bottomcontent {
	float: left;
	width: 940px;
	margin: auto;
	padding: 0px;
}

#singlecontent {
	float: left;
	width: 940px;
	margin: auto;
	padding: 0px;
}

#chatOutput {
	border: 3px solid #f0f0f0;
	width: 920px;
	height: 200px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	text-align: left;
	overflow: auto;
}

#chatInput {
	width: 920px;
	border: 3px solid #cccccc;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}

#usernameInput {
	width: 300px;
	border: 3px solid #cccccc;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}

#loginDiv {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	margin-left: 25%;
	margin-right: 25%;
	text-align: left;
}

#loginDiv h2 {
	text-align: center;
}

#loginDiv form {
	text-align: center;
}

.dialogButton {
	width: 200px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	text-align: center;
}

.dialogButton span.dialogButtonText {
	font-weight: bold; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

.subpanelHeader {
	font-size: 107%;
	font-weight: bold; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top: 3px;
	margin-bottom: 3px;
}

.subpanelDivOuter {
	background-color: #CCCCCC;
	padding: 3px;
	margin-bottom: 10px;
}

.subpanelDivInner {
	background-color: #FFFFFF;
	text-align: center;
	padding: 3px;
}

.leftSubpanelDivOuter {
	background-color: #CCCCCC;
	padding: 3px;
	margin-bottom: 10px;
}

.leftSubpanelDivInner {
	background-color: #FFFFFF;
	text-align: center;
	padding: 3px;
	height: 350px;
}

.bottomSubpanelDivOuter {
	background-color: #CCCCCC;
	padding: 3px;
	margin-bottom: 10px;
}

.bottomSubpanelDivInner {
	background-color: #FFFFFF;
	text-align: center;
	padding: 3px;
	height: 235px;
}

.timestampText {
	font-size: 70%;
	font-style: italic; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #555555;
}